/* 
body {
  background-color: white;
  color: crimson;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.quote {
  width: 400px;
  height: 200px;

  margin: auto;
  padding: 10px;

  font-size: 18px;

  border-radius: 5px;
  border: 1px solid blanchedalmond;
}

.button {
  margin-top: 20px;
  background-color: cornflowerblue;
  color: white;
  font-size: 14px;
  border: 0px;
  padding: 5px 10px;
}

*/
